@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi/Satoshi-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi/Satoshi-VariableItalic.woff2') format('woff2');
  font-weight: 100 900;
  font-style: italic;
}