$text-white: rgb(255, 255, 255, .8);
$bg-dark: rgb(30, 30, 30);
$bg-med: rgb(42, 42, 42);
$bg-light: rgb(58, 58, 58);
$green-dark: rgb(23, 53, 24);
$green-med: rgb(38, 88, 40);
$yellow-dark: rgb(77, 77, 0);
$yellow-med: rgb(153, 153, 0);
$red-dark: rgb(73, 20, 16);
$red-med: rgb(122, 34, 27);
$buttons-height:  2rem;